* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: 40px;
    --cell-border: 1px;
    --cell-radius: 0px;
    /* --cell-border-color: #808080; */
    --cell-border-color: #aaaaaa;
    --cell-size-reduced: calc(var(--cell-size) - var(--cell-border));

    --separator-width: 1px;
    --separator-spacing: 5;

    --outer-border: 2px;
    --expander-size: calc(var(--cell-size) * 0.75);
    --top-rows-no: 3;
    --side-cols-no: 3;
    --stage-cols-no: 14;
    --stage-rows-no: 11;

    --top-legend-full-height: calc(var(--top-rows-no) * var(--cell-size));
    --top-legend-reduction: calc((var(--top-rows-no) - 1) * var(--cell-border));
    --top-legend-height: calc(var(--top-legend-full-height) - var(--top-legend-reduction));

    --side-legend-full-width: calc(var(--side-cols-no) * var(--cell-size));
    --side-legend-reduction: calc((var(--side-cols-no) - 1) * var(--cell-border));
    --side-legend-width: calc(var(--side-legend-full-width) - var(--side-legend-reduction));

    --wrapper-border: 2px;
    /* powinno być wartością parzystą (często jest dzielone przez 2) */
    --wrapper-border-color: rgb(0, 0, 0);
}

/* #xxx {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: pink;
} */
#drag-limiter-borders {
    background-color: rgba(240, 150, 210, 0.431);
}

#drag-limiter-manipulators,
.limiter {
    /* position: absolute; */
    border: solid 1px palevioletred;
    /* width:100%; */
    background-color: rgba(150, 207, 240, 0.431);
}

#main-container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: calc(var(--cell-size) + 10px);
    padding-left: calc(var(--cell-size) + 10px);
}

#wrapper-whole {
    position: relative;
    /* border: solid skyblue 5px; */
    /* overflow: hidden; */
}

#whole-grid {
    display: grid;
    position: relative;
    /* border: solid var(--outer-border) red; */

    grid-template-rows: max-content;
    grid-template-columns: max-content;
    grid-template-areas:
        "blank legend-top"
        "legend-side game-grid";
}

#blank {
    grid-area: blank;
    background-color: #f0f0f0;
    border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-bottom: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-right: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);

    /* height: 20px */
    /* grid-template: flex; */
}

.legend {
    background-color: #dadada;
    /* height: 100%; */
}

.wrapper {
    /* overflow: hidden; */ /* kiedy jest włączony - mocno zamula zmniejszanie szerokości planszy */
}

#wrapper-top {
    grid-area: legend-top;
    /* display: flex; */
    border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-bottom: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-left: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-right: transparent rgb(0, 0, 0, 1) var(--wrapper-border);
    /* border-right: dashed rgb(0, 0, 0, 1) var(--wrapper-border); */
    /* border-color: orangered; */

    /* transition: 1s; */
    /* width: 500px; */
}

#legend-top {
    display: grid;
    /* grid-template-rows: none; */
}

.legend-column,
.legend-row {
    display: grid;
}

#wrapper-left {
    /* display: flex; */
    /* justify-content: center; */

    grid-area: legend-side;
    border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-top: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-right: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-bottom: transparent rgb(0, 0, 0, 1) var(--wrapper-border);

    /* border-color: yellow */
    /* border-bottom: dashed rgb(0, 0, 0, 1) var(--wrapper-border); */

    /* height: 100px; */
}

#legend-side {
    display: grid;
}

#wrapper-game {
    /* display: flex; */

    grid-area: game-grid;
    border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-top: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-left: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-right: transparent rgb(0, 0, 0, 1) var(--wrapper-border);
    border-bottom: transparent rgb(0, 0, 0, 1) var(--wrapper-border);
    /* border-right: dashed rgb(0, 0, 0, 1) var(--wrapper-border); */
    /* border-bottom: dashed rgb(0, 0, 0, 1) var(--wrapper-border); */

    /* height: 100%; */
    width: max-content;
}

#game-grid {
    position: relative;
    display: grid;
    background-color: #fff;
}

.brdr {
    position: absolute;
    transition: opacity 0.3s;
    
    /* opacity: 0; */
}

.brdr-bottom {
    width: calc(100% + var(--wrapper-border));
    /* width: 100%; */
    bottom: calc(var(--wrapper-border) * -1);
    border-bottom: solid var(--wrapper-border-color) var(--wrapper-border);
    /* border-color: green; */
}

.brdr-right {
    height: calc(100% + var(--wrapper-border));
    /* height: 100%; */
    top: 0;
    right: calc(var(--wrapper-border) * -1);
    border-right: solid var(--wrapper-border-color) var(--wrapper-border);
    /* border-color: blue; */
}

/* .brdr.brdr-dashed {
    border-bottom-style: dashed;
    border-right-style: dashed;
    border-color: var(--wrapper-border-color);
} */

.brdr.edit {
    opacity: 0;
}

.fake-border {
    pointer-events: none;
    position: absolute;
    border-style: dashed;
    border-width: var(--wrapper-border);
    /* border-color: red; */
    /* border-bottom-color: red; */
}

#fake-border-game {
    /* position: absolute; */
    /* border-style: dashed; */
    /* border-color: pink; */
    /* opacity: 0.5; */
    /* border-width: var(--wrapper-border); */
    border-top-style: solid;
    border-left-style: solid;
    border-top-width: calc(var(--wrapper-border) * 0.5);
    border-left-width: calc(var(--wrapper-border) * 0.5);
    bottom: calc(var(--wrapper-border) * -1);
    right: calc(var(--wrapper-border) * -1);

    height: calc(100% - var(--top-legend-height) - var(--wrapper-border) * 0.5);
    width: calc(100% - var(--side-legend-width) - var(--wrapper-border) * 0.5);
}

#fake-border-side {
    /* border-color: skyblue; */
    /* opacity: 0.5; */
    bottom: calc(var(--wrapper-border) * -1);
    left: 0;
    border-top-width: calc(var(--wrapper-border) * 0.5);
    border-right-width: calc(var(--wrapper-border) * 0.5);

    width: calc(var(--side-legend-width) + var(--wrapper-border) * 1.5);
    height: calc(100% - var(--top-legend-height) - var(--wrapper-border) * 0.5);
}

#fake-border-top {
    /* border-color: greenyellow; */
    /* opacity: 0.5; */
    top: 0;
    right: calc(var(--wrapper-border) * -1);
    border-bottom-width: calc(var(--wrapper-border) * 0.5);
    border-left-width: calc(var(--wrapper-border) * 0.5);

    height: calc(var(--top-legend-height) + var(--wrapper-border) * 1.5);
    width: calc(100% - var(--side-legend-width) - var(--wrapper-border) * 0.5);
}

/* =================== OLD EXPANDER STYLE =================== */
/* .expander {
    border: solid rgb(0, 0, 0) var(--wrapper-border);
    transition: all 0.3s;
    
}

#expand-width {
    position: absolute;
    cursor: e-resize;
    height: calc(100%);
    width: var(--expander-size);
    right: 0;
    bottom: 0;
    transform: translateX(calc(100% - var(--wrapper-border)));
}

#expand-width:hover,
#expand-width.expanded,
#expand-width:hover~#expand-diag {
    width: calc(var(--expander-size)*1.5);
}

#expand-height {
    position: absolute;
    cursor: s-resize;

    height: var(--expander-size);
    width: calc(100%);
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% - var(--wrapper-border)));
}

#expand-height:hover,
#expand-height.expanded,
#expand-height:hover~#expand-diag {
    height: calc(var(--expander-size)*1.5);
}

#expand-diag {
    position: absolute;
    cursor: se-resize;
    height: var(--expander-size);
    width: var(--expander-size);
    bottom: 0;
    right: 0;
    transform: translate(calc(100% - var(--wrapper-border)), calc(100% - var(--wrapper-border)));
}

#expand-diag:hover {
    width: calc(var(--expander-size)*1.5);
    height: calc(var(--expander-size)*1.5);
}

#expand-diag:hover~#expand-width {
    width: calc(var(--expander-size)*1.5);
}

#expand-diag:hover~#expand-height {
    height: calc(var(--expander-size)*1.5);
} */

/* =================== OLD EXPANDER STYLE =================== */

.expander {
    cursor: cell;
}

.reducer {
    cursor: no-drop;
}

.reducer,
.expander {
    position: absolute;
    border: solid var(--wrapper-border) black;
    border-radius: calc(var(--wrapper-border) * 1.5);
    /* cursor: pointer; */

    height: calc(var(--cell-size) * 0.75);
    width: calc(var(--cell-size) * 0.75);
    /* border-radius: 10px; */

    transition: all 0.3s;

    /* opacity: 0; */
}

.reducer:hover,
.expander:hover {
    height: calc(var(--cell-size));
    width: calc(var(--cell-size));
}

.reducer:hover {
    background-color: red;
}

.expander:hover {
    background-color: greenyellow;
}

#reduce-height {
    left: calc(var(--wrapper-border) * -1);
    bottom: var(--wrapper-border);
    transform: translateX(calc(-100%));
}

#expand-height {
    left: calc(var(--wrapper-border) * -1);
    ;
    bottom: 0;
    transform: translate(calc(-100%), calc(100%));
}

#reduce-width {
    right: var(--wrapper-border);
    top: calc(var(--wrapper-border) * -1);
    transform: translateY(calc(-100%));
}

#expand-width {
    right: 0;
    top: calc(var(--wrapper-border) * -1);
    transform: translate(calc(100%), calc(-100%));
}

#expand-diag {
    right: 0;
    bottom: 0;
    transform: translate(calc(100%), calc(100%));
}

.manipulator {
    --man-border: 2px;
    /* --man-width: calc(var(--cell-size) * 0.5); */
    --man-width: calc(var(--wrapper-border) * 4);
    --man-width-multiplicator: 2;
    --man-width-increased: calc(var(--man-width) * var(--man-width-multiplicator));
    /* --man-length: calc(var(--cell-size) * 1.5); */
    --man-length: calc(var(--man-width) * 5);
    /* --man-length: calc(var(--man-width) * 2); */
    --man-length-increase: calc(var(--man-length) * 2);
    
    --full-size: calc(100% + var(--wrapper-border));

    --man-pos-on-border: calc((var(--wrapper-border) + var(--man-width)) * -0.5);
    --man-pos-on-border-increased: calc((var(--wrapper-border) + var(--man-width-increased)) * -0.5);
    --man-pos-on-half: calc((var(--full-size) - var(--man-length)) * 0.5);
    --man-pos-on-half-increased: calc((var(--full-size) - var(--man-length-increase)) * 0.5);

    border: solid var(--man-border) black;
    border-radius: calc(var(--man-width) * 10);
    background-color: white;
    position: absolute;

    transition: width 0.3s, height 0.3s, opacity 0.3s;
    transition: 0.3s;
}

/* .manipulator:not(.persistent) {
    transition: all 0s;
    opacity: 0;
} */

.persistent {
    pointer-events: none;
    /* background-color: red; */
    transition: 0.3s;
}

.persistent.ontarget.reduce {
    background-color: red;
}

.manipulator-height {
    cursor: s-resize;
    width: var(--man-length);
    height: var(--man-width);
    left: var(--man-pos-on-half);
    bottom: var(--man-pos-on-border);
}

.manipulator-height:hover,
.manipulator-height.dragging,
.manipulator-height.ui-draggable-dragging {
    width: var(--man-length-increase);
    left: var(--man-pos-on-half-increased);
    /* cursor: "grabbing"; */

    /* height: var(--man-width-increase); */
    /* bottom: var(--man-pos-on-border-increased); */
    /* opacity: 0; */
}

.manipulator-height:hover+.persistent,
.persistent-height.dragging {
    width: var(--man-length-increase);
    left: var(--man-pos-on-half-increased);
    /* height: var(--man-width-increase); */
    /* bottom: var(--man-pos-on-border-increased); */
    opacity: 1;
}

.manipulator-width {
    cursor: e-resize;
    width: var(--man-width);
    height: var(--man-length);
    top: var(--man-pos-on-half);
    right: var(--man-pos-on-border);
}

.manipulator-width:hover,
.manipulator-width.dragging,
.manipulator-width.ui-draggable-dragging {
    height: var(--man-length-increase);
    top: var(--man-pos-on-half-increased);
    /* opacity: 0; */
}

.manipulator-width:hover+.persistent,
.persistent-width.dragging {
    height: var(--man-length-increase);
    top: var(--man-pos-on-half-increased);
    opacity: 1;
}

.manipulator-diag {
    cursor: move;
    width: var(--man-width);
    height: var(--man-width);
    bottom: var(--man-pos-on-border);
    right: var(--man-pos-on-border);
}

.manipulator-diag:hover,
.manipulator-diag.dragging, 
.manipulator-diag.ui-draggable-dragging {
    width: var(--man-width-increased);
    height: var(--man-width-increased);
    bottom: var(--man-pos-on-border-increased);
    right: var(--man-pos-on-border-increased);
    /* opacity: 0; */
}

.manipulator-diag:hover+.persistent,
.persistent-diag.dragging {
    width: var(--man-width-increased);
    height: var(--man-width-increased);
    bottom: var(--man-pos-on-border-increased);
    right: var(--man-pos-on-border-increased);
    opacity: 1;
}

.manipulator.hidden {
    opacity: 0;
}

.manipulator.dragging {
    pointer-events: none;
}


/* ================================================================ */
/* =========================== CELLS ============================== */
/* ================================================================ */

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: solid var(--cell-border-color) var(--cell-border);
    border-radius: var(--cell-radius);
}

.cell:hover {
    box-shadow: inset 0 0 0 var(--cell-border) var(--cell-border-color);
    box-shadow: inset 0 0 0 var(--cell-border) yellowgreen;
}

.cell-legend {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .cell[data-translation] {
    transform: translateX(var(--translation));
    background-color: pink;
    
} */

.separator {
    background-color: var(--cell-border-color);
    background-color: #555;
}

.separator.sep-v {
    width: var(--separator-width);
}

.separator.sep-h {
    height: var(--separator-width);
}


/* ================================================================ */
/* ============================= DROPS ============================ */
/* ================================================================ */

.drop {
    display: flex;
    align-items: center;
    justify-content: center;

    --drop-width: 250px;

    position: absolute;
    border: solid rgba(139, 81, 81, 0) 1px;
    /* background-color: greenyellow; */
    width: var(--drop-width);
    height: calc(var(--cell-size)*1.5);

    width: calc(100% - var(--wrapper-border));
    left: var(--wrapper-border);
    height: 40px;
    /* box-shadow: -200px 0 25px 1px red, 200px 0 25px 1px red; */
    /* opacity: 0; */
    /* right: 0px; */
    top: 420px;
    /* transform: translate(-50%); */
}

.mark {
    pointer-events: none;
    width: 0;
    height: 0;
    transition: 0.2s;
    border-radius: 50%;
}

.drop.target .mark {
/* .mark { */
    width: 100%;
    height: 5px;
    background-color: red;
    box-shadow: 0 0 10px 0px red;
}

#pos {
    position: absolute;
    border: solid 1px red;
}