* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: 50px;
    --cell-border: 5px;
    --cell-border-color: #808080;

    --expander-size: 50px;
    --legend-h-size: 5;
    --legend-v-size: 3;
    --stage-h-size: 14;
    --stage-v-size: 11;

    --game-width: calc(var(--cell-size) * var(--stage-h-size));
    --game-height: calc(var(--cell-size) * var(--stage-v-size));
    --legend-width: calc(var(--cell-size) * var(--legend-v-size));
    --legend-height: calc(var(--cell-size) * var(--legend-h-size));

    --shrink-game-h: calc((var(--stage-h-size) - 1 ) * var(--cell-border));
    --shrink-game-v: calc((var(--stage-v-size) - 1 ) * var(--cell-border));
    --shrink-left-h: calc((var(--legend-v-size) - 1 ) * var(--cell-border));
    --shrink-top-v: calc((var(--legend-h-size) - 1 ) * var(--cell-border));

    --wrapper-border: 3px;
    --wrapper-border-color: #000;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-grid {
    display: grid;
    position: relative;
    border: solid 2px black;
    /* height: 50vmin;
    width: 50vmin; */
    /* height: 500px; */
    /* width: 500px; */

    grid-template-rows: max-content max-content;
    grid-template-columns: max-content max-content;
    grid-template-areas:
        "blank legend-h"
        "legend-v game-grid";
}

#blank {
    grid-area: blank;
    background-color: #f0f0f0;
    height: 80%;
    width: 80%;
    border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-bottom: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-right: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
}

.legend {
    background-color: #dadada;
}

.top-left-border {
    /* border-left: solid var(--cell-border-color) var(--cell-border);
    border-top: solid var(--cell-border-color) var(--cell-border); */
}

#wrapper-top {
    grid-area: legend-h;
    border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-bottom: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-left: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    /* width: 80%; */
    width: calc(100% - var(--shrink-game-h));
    height: calc(100% - var(--shrink-top-v));
    overflow: hidden;
}

#legend-horizontal {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    /* grid-template-columns: 50px, repeat(calc(var(--stage-h-size)-1), 45px); */

    /* width: 80%; */
    /* grid-template-columns: repeat(var(--stage-h-size), 1fr); */
    /* grid-template-rows: repeat(var(--legend-h-size), 1fr); */
    /* grid-area: legend-h; */
    /* background-color: aqua; */
    /* height: var(--legend-height); */
    /* width: 100%; */

    /* border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-bottom: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-left: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2); */
    /* border-left: solid var(--cell-border-color) var(--cell-border);
    border-top: solid var(--cell-border-color) var(--cell-border); */
    transform: translateY(calc(var(--shrink-top-v)*-1));
}

#wrapper-left {
    grid-area: legend-v;
    border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-top: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-right: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);

    height: calc(100% - var(--shrink-game-v));
    width: calc(100% - var(--shrink-left-h));
    transform: translateX(calc(var(--shrink-left-h)));
    overflow: hidden;
}

#legend-vertical {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    /* grid-template-columns: repeat(var(--legend-v-size), 1fr); */
    /* grid-template-rows: repeat(var(--stage-v-size), 1fr); */
    /* grid-area: legend-v; */
    /* background-color: rgb(0, 153, 255); */
    /* height: 100%; */
    /* width: var(--legend-width); */
    /* border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-top: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-right: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2); */
    /* border-left: solid var(--cell-border-color) var(--cell-border);
    border-top: solid var(--cell-border-color) var(--cell-border); */

    transform: translateX(calc(var(--shrink-left-h)*-1));
}

#wrapper-game {
    grid-area: game-grid;
    border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-top: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-left: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);

    width: calc(100% - var(--shrink-game-h));
    height: calc(100% - var(--shrink-game-v));
    overflow: hidden;
}

#game-grid {
    display: grid;
    /* grid-area: game-grid; */
    background-color: #fff;
    background-color: pink;
    /* border: solid 5px red; */

    grid-template-rows: auto;
    grid-template-columns: auto;
    /* height: var(--game-height); */
    /* width: var(--game-width); */
    /* border: solid var(--wrapper-border-color) var(--wrapper-border);
    border-top: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2);
    border-left: solid var(--wrapper-border-color) calc(var(--wrapper-border)/2); */
    /* border-left: solid var(--cell-border-color) var(--cell-border);
    border-top: solid var(--cell-border-color) var(--cell-border); */
    /* width: 80%; */
}

.expander {
    border: solid rgb(153, 55, 55) 5px;
    transition: all 0.3s;
}

#expand-horizontal {
    position: absolute;
    height: 100%;
    width: var(--expander-size);
    right: 0;
    transform: translateX(100%);
}

#expand-horizontal:hover {
    width: calc(var(--expander-size)*1.5);
}

#expand-vertical {
    position: absolute;
    height: var(--expander-size);
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
}

#expand-vertical:hover {
    height: calc(var(--expander-size)*1.5);
}

#expand-diagonal {
    position: absolute;
    height: var(--expander-size);
    width: var(--expander-size);
    bottom: 0;
    right: 0;
    transform: translate(100%, 100%);
}

#expand-diagonal:hover {
    width: calc(var(--expander-size)*1.5);
    height: calc(var(--expander-size)*1.5);
}

/* ================================================================ */
/* ================================================================ */
/* ================================================================ */

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    /* width: 20px; */
    border: solid var(--cell-border-color) var(--cell-border);
    /* border-bottom: solid var(--cell-border-color) var(--cell-border); */
    /* border-right: solid var(--cell-border-color) var(--cell-border); */
    border-radius: 15px;
}

.cell:hover {
    box-shadow: inset 0 0 0 var(--cell-border) var(--cell-border-color);
    box-shadow: inset 0 0 0 var(--cell-border) yellowgreen;
}

/* .cell-left{
    border-left: solid #808080 5px;
} */

.cell-legend {
    /* border: solid #555 1px; */
}

.cell-game {
    /* border: solid rgb(212, 128, 128) 1px; */
}